<h3 class="mb-3 text-center">Vista 1</h3>
<div class="container custom-container-2">



    <!-- DataVista1s list table, it hides when there is no DataVista1 -->
    <div class="row justify-content-center btnCargaDatos">
        <button class="btn btn-primary" (click)="loadVistaData1()"> Cargar Data</button>
    </div>

    <div class="row justify-content-center">
        <div class="spinner-border" role="status" *ngIf="loading">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="row justify-content-center">
        <div *ngIf="(DataVista1.length > 0 );">
            <div class="col-md-12">
                <table class="table-sm table-bordered ">
                    <thead>
                        <tr>
                            <th scope="col">N°</th>
                            <th scope="col">Number</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">First Position</th>
                            <th scope="col">Last Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of DataVista1;"
                            [ngClass]="{'marcaverde': item.quantity >= 2, 'marcaamarillo': item.quantity == 1}">
                            <td>{{item.index + 1}}</td>
                            <td>{{item.numero}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.firstPosition}}</td>
                            <td>{{item.lastposition}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="txtNumerosOrdenados">
                <input type="text" class="form-control" value="{{listDataTexbox}}">
            </div>
        </div>
        <div *ngIf="(DataVista1 == 0 );" class=" no-data text-center">
            <p>No hay datos disponibles</p>
        </div>


    </div>
</div>