<h3 class="mb-3 text-center">Vista 2</h3>

<div class="container custom-container-2">


    <div class="no-data text-center btnCargaDatos">
        <button class="btn btn-primary" (click)="loadVistaData2()"> Cargar Data</button>
    </div>

    <div class="text-center">
        <div class="spinner-border" role="status" *ngIf="loading">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <!-- DataVista1s list table, it hides when there is no DataVista1 -->
    <div class="row justify-content-center tablepadding">
        <div *ngIf="listDataVista2.length > 0;">
            <div>
                <div class="col-md-12">
                    <table class="table-sm table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">N°</th>
                                <th scope="col">a</th>
                                <th scope="col">b</th>
                                <th scope="col">c</th>
                                <th scope="col">d</th>
                                <th scope="col">e</th>
                                <th scope="col">f</th>
                                <th scope="col">g</th>
                                <th scope="col">h</th>
                                <th scope="col">i</th>
                                <th scope="col">j</th>
                                <th scope="col">k</th>
                                <th scope="col">l</th>
                                <th scope="col">m</th>
                                <th scope="col">n</th>
                                <th scope="col">ñ</th>
                                <th scope="col">o</th>
                                <th scope="col">p</th>
                                <th scope="col">q</th>
                                <th scope="col">r</th>
                                <th scope="col">s</th>
                                <th scope="col">t</th>
                                <th scope="col">u</th>
                                <th scope="col">v</th>
                                <th scope="col">w</th>
                                <th scope="col">x</th>
                                <th scope="col">y</th>
                                <th scope="col">z</th>
                                <th scope="col">Suma</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listDataVista2; let idx = index">
                                <td>{{idx +1}}</td>
                                <td *ngFor="let obj of item.repeticiones;">{{obj.cantidad}}</td>
                                <td>{{item.suma}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div *ngIf="listDataVista2.length == 0;">
            <div class="no-data text-center">
                <p>No hay datos disponibles</p>
            </div>
        </div>
    </div>
</div>